.line-break {
  margin: 10px;
}

h1 {
  color: #004d74;
  margin-top: 0;
  margin-bottom: 10px;
}

.paragraph-1 {
  text-align: justify;
  width: 600px;
  margin-top: 20px;
}

hr {
  border: 2px solid rgba(0, 77, 116, 0.1);
  border-radius: 5px;
}

.faq {
  color: red;
}
